/*body{
   padding: 20px;
}
h1{
   font-family: Arial, Helvetica, sans-serif;
}
p{
   font-size: 25px;
   font-family: League Gothic;
   /*color: blue;
   background-color: rgb(143, 190, 155);*/
  /* text-transform: uppercase; bus visos dideleles raides*/
  /*text-transform: capitalize; bus visos pirmos raides dideles*/
  /*text-transform: lowercase; bus visos mazos raides*/
}*/


